<h1>Fortune Teller</h1>


<h1>The magic wheel showed that <strong>"<%= @your_fortune %>"</strong></h1>




<h3> Astrological Correspondence: Jupiter.</h3>

<p>
The Wheel of Fortune symbolizes the ever-changing cycle of life, wins and losses, ups and downs, unexpected luck, advancements and setbacks, success and failure – the duality of things. Representing a breakthrough, a fortunate set of circumstances, the energies of the turning wheel also suggest incalculability, chance, surprise, rapid change and fate ending problematic times, heralding good fortune, and stimulating development and growth. As one of the cards not showing a human figure at its center, the Wheel of Fortune represents our uncovering of life's cycles and patterns, the discovery of our purpose in life, and the realization that nothing is permanent, everything is always in flux. In a negative situation the card can resemble failure, misfortune, gambling excess, and a turn for the worse.
</p>


<%= link_to 'Home', root_path %>