<h1>Welcome to the Lucky App</h1>

<h2>Here is what we've got for you today:</h2>
<%= link_to "Fortune", pages_fortune_path %> <br>
<%= link_to "Lottery", pages_lottery_path %><br>
<%= link_to "Impressions", pages_impressions_path %>